<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap py-1 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-sm-center" href="#">{{ title }}</a>
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="btn btn-secondary" type="button" (click)="toggleProtocol()">
        {{ protocol }}
      </button>
    </div>
    <input type="text" aria-label="Url" class="form-control" [(ngModel)]="host">
    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-secondary" type="button" (click)="connect()">Conect</button>
    </div>
  </div>
</nav>

<main role="main" class="ml-sm-auto pt-3 px-4">
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="message">
    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-outline-secondary" type="button" (click)="send()">Send</button>
    </div>
  </div>
  <div>
    <div *ngFor="let m of socket.messages.reverse()">
      {{ m.date }}
      {{ m.message }}
    </div>
  </div>
</main>
